{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["**.*.scss", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
